.main-h1 {
  text-align: center;
  text-shadow: 7px 0px 0px black;
  color: white;
}
.slogan-text {
  text-shadow: 7px 0px 0px black;
}
.main-div {
  background-color: rgba(50, 50, 50, 0.6);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  border: 2px solid white;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.main-h2 {
  font-size: 2em;
  text-shadow: 7px 0px 0px black;
  margin-bottom: 40px;
}
.featured-cards {
  height: 200px;
  width: 30%;
  /* border: 2px solid white; */
  display: flex;
  font-size: 0.8em;
  gap: 10px;
}
.featured-cards img {
  object-fit: cover;
  width: 150px;
  border: 1px solid white;
}
main h2{
    margin-top: 5vh;
}
