footer {
  color: white;
  width: 100%;
  border-top: 1px solid white;
  background-color: black;
  text-align: center;
  padding: 20px;
}
#theme-switch {
  cursor: pointer;
}
#theme-switch:hover {
  color: cyan;
}
#theme-switch:active {
  color: rgb(255, 0, 255);
}

.light-main {
    background-color: rgba(255, 255, 255, 0.607);
}
.light-body{
    background: linear-gradient(to bottom right, rgb(0, 149, 223), rgb(13, 0, 110));
}
