footer {
  color: white;
  width: 100%;
  border-top: 1px solid white;
  background-color: black;
  text-align: center;
  padding: 20px;
}
#theme-switch {
  cursor: pointer;
}
#theme-switch:hover {
  color: cyan;
}
#theme-switch:active {
  color: rgb(255, 0, 255);
}

/* Light Mode CSS Classes */
.light-main {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(113, 0, 113);
    border: 2px solid black;
}
.light-body{
    background: linear-gradient(to bottom right, rgb(0, 149, 223), rgb(13, 0, 110));
}
.light-h1{
  color: black;
  text-shadow: 7px 0px 0px rgba(255, 255, 255, 0.5);
}
.light-div{
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid black;
}
.light-h2{
  text-shadow: 7px 0px 0px rgba(255, 255, 255, 0.5);
}
.light-popup{
  background-color: white;
  border: 2px solid black;
  color: black;
}
.light-btn{
  border: 2px solid black;
}