*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-color: white;
}

.container-featured
{
    display:flex;
    flex-direction:column;
    gap:50px;
    align-items:center;
}
.featured-item
{
    width: 1000px;
    height:300px;
    border: 2px solid rgb(255, 252, 252);
    border-radius: 16px;
    display:flex;
    flex-direction:row;
   
    gap:16px;
    
}

.featured-item > img
{
 margin-left: 16px;
 border: 3px solid white;
 text-align:center;
 align-self:center;
 border-radius:8px;
}
main
{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-featured > h2
{
    color:white;
    font-size: 24px;
    font-weight:bold;
    text-shadow: 0px 0px 8px rebeccapurple;
}

.contained-featured-item
{
    padding-top:2.8%;
    display:flex;
    flex-direction:column;
    gap:8px;
    font-size:larger;
}

.checked
{
    color:rgb(0, 255, 255);
}

.normal-items
{
    margin-top:30px;
    display:flex;
    flex-direction:column;
    gap:75px;
}


.normal-items > section
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:16px;
    border: 3px solid white;
    width: 900px;
    height:300px;
    align-items:center;
    border-radius:8px;
    padding:20px;
}

.normal-items > section > .item-cards
{
    border: 1.5px solid white;
    border-radius: 4px;
    width: 375px;
    height: 250px;
}

.item-cards
{
    transition: transform 0.5 ease-in-out
}

.item-cards:hover
{
    transform: translateY(-4px);
}


